.flex-container {
  display: flex;
  background-color: black;
}

.flex-container > div {
  background-color:darkblue ;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width:590px;
  height:300px;
}
.flex-container1 {
  display: flex;
  background-color:black;
}
.flex-container1 > div {
  background-color: lightgreen;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width:1240px;
  height:30px;
}

.flex-container2 {
  display: flex;
  align-items: stretch;
  background-color: black;
}

.flex-container2 > div {
  background-color:yellow;
  width: 100px;
  margin: 10px;
  line-height: 400px;
  font-size: 30px;
}
.flex-container3 {
  display: flex;
  background-color:black;
}
.flex-container3 > div {
  background-color: lightgreen;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width:1240px;
  height:30px;
}