
.container
{

display: flex;
width:30%;
background-color:black;
height: 180px;
justify-content: center;
align-items: center;
margin-left:60px;
margin-top:70px;
}
.container> div{
    background-color: red;
    margin: 10px;
    width: 100px;
    text-align:center;
    line-height: 120px;
    font-size: 30px;
    display: inline;