.div1
{
    border:1px solid green;
    height:274px;
    width:250px;
    margin-left:50px;
     background-color:rgba(255, 0, 0, 0.6);
    margin-top:63px;
    
    
}
.div2
{
    border:1px solid red;
    text-align:center;
background-color:#003399;

    

}
img{
    height:30%;
    border-radius: 50%;
    margin:30px;

}