p
{
color: white;
}


.violet
{
color:navy;
    
}
.para2
{
color: white;
    background-color:black;
}
body
{
background-color:black;
}
.para3
{
color:red;
    background-color:#444;
}
.para4
{
color:rgb(0,127,255);
    background-color:rgba(0%,50%,50%,0.5);
}
.para5
{
color:navy;
    background-color:hsla(0,0%,100%.0.2);
}